<clr-header>
    <div class="branding">
        <a class="nav-link">
        <clr-icon shape="bullseye"></clr-icon>
        <span class="title">Open Trivia</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link nav-text" 
        routerLink="/" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">Dashboard
        </a>
        <a class="nav-link nav-text" 
        routerLink="/game" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">New Game
        </a>
    </div>
</clr-header>